<a href="https://colab.research.google.com/github/adiec7/Angular-AlbumStoreProductPage/blob/master/python_basics_string_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We already install python now open your IDLE (Integrated Development and Learning Environment) this is where your will type your code for now before we move to a code editor or an IDE (integrated development environment).
# Datatype
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:
Text Type:

------------------
str (string)

--------------------
Numeric Types:	int, float, complex

---------------------
Sequence Types:	list, tuple, range

----------------------------------
Mapping Type:	dict

--------------------------
Set Types:	set, frozenset

-------------------------
Boolean Type:	bool

---------------------------
Binary Types:	bytes, bytearray, memoryview

----------------------------------------------
None Type:	NoneType.

---------------------------------

# Strings 

string str pronounce as 'stirs'. enclosed in a single quotation mark or a double quotation mark these are text your normal english text, latters,and words. An empty quotation ('') is called a blank strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

this note covers the following:

 1. Creating Strings
 2. Printing Strings
 3. String Indexing and Slicing
 4. String Properties
 5. String Methods
 6. Print Formatting

In [ ]:
# Latters 
"a"

'a'

In [ ]:
# Words 
'Home','go','don\'t go','python'

('Home', 'go', "don't go", 'python')

In [ ]:
# sentence or phrase 
'you are welcome to class'

'you are welcome to class'

In [ ]:
# Escape hareacter (\)
'you're welcome to class'

SyntaxError: invalid syntax (<ipython-input-4-30e05c576c13>, line 2)

In [ ]:
#correction
'you\'re welcome to class'

In [ ]:
# you can also use double qoutes 
"You are welcome to class"

In [ ]:
# New line
# we use same backslash and n for new line
print('welcome to class\n how are you?')

# comments
** Python ignores comments, and you can use them to write notes or remind
** yourself what the code is trying to do. Any text for the rest of the line following
** a hash mark (#) is part of a comment.
** Sometimes, programmers will put a # in front of a line of code to temporarily
** remove it while testing a program. This is called commenting out code, and it
** can be useful when you’re trying to figure out why a program doesn’t work. You
** can remove the # later when you are ready to put the line back in.

In [ ]:
# this is a comment 
'come' # you are to come

# some already made functions for you 
 The print() function displays the string value inside the parentheses on the screen.
print('Hello World')
You can also use this function to put a blank line on the screen; just call print() with nothing in between the parentheses.

# printing a string
Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function print().

In [ ]:
print('Hello world')

# string replication
This is use to multiply strings with the (*) sign

In [ ]:
print('come ' * 7)
#Rules replecation can not work with word and can not work with floats

# len
You can pass the len() function a string value (or a variable containing a
string), and the function evaluates to the integer value of the number of
characters in that string.
*** It counts every latter in a string or word.***

In [ ]:
len('Chris')

# Storing Values in Variables
A variable is like a box in the computer’s memory where you can store a single
value. If you want to use the result of an evaluated expression later in your
program, you can save it inside a variable.
## Assignment Statements
You’ll store values in variables with an assignment statement. An assignment
statement consists of a variable name, an equal sign (called the assignment
operator), and the value to be stored. If you enter the assignment statement spam
= 42, then a variable named spam will have the integer value 42 stored in it.

In [ ]:
Name = 'Boni'
print(Name)

In [3]:
# you can assign multiple variables 

x,y,z = 'a','b','c'
print(x)
print(y)
print(z)

a
b
c

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [ ]:
Name = 'Chris'
print(Name)

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [ ]:
Forty = 40
type(Forty)

In [ ]:
Food = 'yam'
type(Food)

In [ ]:
Number = 8
Number

Len function a strings

In [ ]:
print('The length of your name is:')
my_name = input('What is your name ')
print(len(my_name))

In [ ]:
Total = Forty * Number
Total

In [ ]:
var_forty = 40
print(var_forty)
print(type(30))

40
<class 'int'>

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

# Rules of variables 
You can name a variable
anything as long as it obeys the following three rules:
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`.
** A good variable name describes the data it contains. Imagine that you moved to
a new house and labeled all of your moving boxes as Stuff. You’d never find
anything! The variable names spam, eggs, and bacon are used as generic names.
Always give your programs a descriptive name it will help your code to be more readable.

In [ ]:
True = 4
print(str)

SyntaxError: cannot assign to True (<ipython-input-6-c6ec369cb791>, line 1)

# input function 
The input() function waits for the user to type some text on the keyboard and press ENTER.
This function call evaluates to a string equal to the user’s text,

In [ ]:
name = input('what is you name? ')
print('your name is: ' + name)

what is you name? Shade
your name is: Shade

In [ ]:
age = input('what you your age?')
print('Your name is  ' + name + ' and your age is ' + age)

what you your age?100
Your name is  Chucks and your age is 100

In [ ]:
int(age)

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

# The str(), int(), and float() Functions for conversion.
example below

In [ ]:
print(var_forty) # is to print the variable 40
int_to_str = str(var_forty) # to convert string to aan int and store it in a variable.
print(int_to_str)
print(type(int_to_str))
print(type(var_forty))

# string indexing

In [ ]:
name = 'Python'
print(name)

Python

In [ ]:
print(name[5])

n

In [ ]:
print(name[1])

y

# string slicing 
use to pick items or words or grab everything in a variable

In [ ]:
name = "Boniface"
print(name[4:])
# pick everything after the first item

face

In [ ]:
print(name[:4])

In [ ]:
print(name[:3])

In [ ]:
print(name[:])

We can also use negative indexing to go backwards.

In [ ]:
print(name[-1])

e

In [ ]:
print(name[:-1])

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
print(name[::1])

Boniface

In [ ]:
print(name[::2])

Bnfc

In [ ]:
#we can also print backwards
print(name[::-1])

# String concatenation 
use to join strings together (+)

In [ ]:
Sur_name = ' Ben'
print(Sur_name)

In [ ]:
full_name = name + Sur_name
print(full_name)

In [ ]:
print(full_name.upper())

## string Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [ ]:
print('my name is Ben {}'.format ('I am a boy'))

In [ ]:
print(f'my name is {full_name}')

In [1]:
name = input('what is your name ')
age = int(input('Please your age '))
location = input('where do you live') 
about_you = print(f'your name is {name} and your age is {age}')

what is your name here
Please your age 10
where do you liveLAGOD
your name is here and your age is 10

In [ ]:
height = 50

In [ ]:
type(height)

int

In [ ]:
int_to_float = float(height)
int_to_float

50.0

In [ ]:
float_to_int = int(int_to_float)
float_to_int

50