<a href="https://colab.research.google.com/github/adiec7/Angular-AlbumStoreProductPage/blob/master/python_basics_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We already install python now open your IDLE (Integrated Development and Learning Environment) this is where your will type your code for now before we move to a code editor or an IDE (integrated development environment).
# Datatype
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:
Text Type:	str (string
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType.

In [ ]:

#string str pronounce as 'stirs'.
# enclosed in a single quotation mark or a double quotation mark
# these are text your normal english text, latters,and words.
# empty quotation ('') is called a blank strings
# Examples
'a','b','c','d'
"a","b","c","d"
'come','go',"Chris"

('come', 'go', 'Chris')

In [ ]:
#Some operations on strings 
# Contatenation and replecation 
# in strings the (+) sign join words together 
#Example
'Teen' + ' '+'Church'

'Teen Church'

In [ ]:
#Note you can not concatenate a string and a number see example below 
#'Class ' + '60'
'40' + '30'

'4030'

In [ ]:
#you can convert a number to string in other to concatenate
'class ' + str(40)

'class 40'

In [ ]:
#Replecation
# The (*) is used to replecate words in  python
var_multiplecation = 'Teens ' * 7
var_multiplecation
#Rules replecation can not work with word and can not work with floats

'Teens Teens Teens Teens Teens Teens Teens '

# Storing Values in Variables
A variable is like a box in the computer’s memory where you can store a single
value. If you want to use the result of an evaluated expression later in your
program, you can save it inside a variable.
## Assignment Statements
You’ll store values in variables with an assignment statement. An assignment
statement consists of a variable name, an equal sign (called the assignment
operator), and the value to be stored. If you enter the assignment statement spam
= 42, then a variable named spam will have the integer value 42 stored in it.

In [ ]:
Forty = 40
type(Forty)

int

In [ ]:
Food = 'yam'
type(Food)

str

In [ ]:
Number = 8
Number

8

In [ ]:
Total = Forty * Number
Total

320

In [ ]:
#You can over write a variable
Food = 'Rice '
Food * 10

'Rice Rice Rice Rice Rice Rice Rice Rice Rice Rice '

# Rules of variables 
You can name a variable
anything as long as it obeys the following three rules:
1. It can be only one word.
2. It can  only letters, numbers, and the underscore (_) character.
3. It can’t begin with a number.
current-balance (hyphens are not allowed)
current balance (spaces are not allowed)
4account (can’t begin with a number)
42 (can’t begin with a number)
total_$um (special characters like $ are not allowed)
'hello' (special characters like ' are not allowed)
Note: variable names are case sensitive.
** A good variable name describes the data it contains. Imagine that you moved to
a new house and labeled all of your moving boxes as Stuff. You’d never find
anything! The variable names spam, eggs, and bacon are used as generic names.
Always give your programs a descriptive name it will help your code to be more readable.

In [ ]:
# comments
# Python ignores comments, and you can use them to write notes or remind
yourself what the code is trying to do. Any text for the rest of the line following
a hash mark (#) is part of a comment.
#Sometimes, programmers will put a # in front of a line of code to temporarily
remove it while testing a program. This is called commenting out code, and it
can be useful when you’re trying to figure out why a program doesn’t work. You
can remove the # later when you are ready to put the line back in.

SyntaxError: invalid syntax (<ipython-input-1-dde9d009c10a>, line 3)

In [ ]:
# some already made functions for you 
# The print() function displays the string value inside the parentheses on the screen.
print('Hello World')
# You can also use this function to put a blank line on the screen; just call print() with nothing in between the parentheses.

Hello World

In [ ]:
#input function 
#The input() function waits for the user to type some text on the keyboard and press ENTER.
name = input('what is you name?')
# This function call evaluates to a string equal to the user’s text, and the previous
#line of code assigns the myName variable to this string value

what is you name?chris

In [ ]:
#len
# You can pass the len() function a string value (or a variable containing a
#string), and the function evaluates to the integer value of the number of
#characters in that string.
print('The length of your name is:')
my_name = 'Chris'
print(len(my_name))

The length of your name is:
5

In [ ]:
# The str(), int(), and float() Functions If you

'Teens Teens Teens Teens Teens Teens Teens '

In [ ]:
thirty = 30
type(thirty)

int

In [ ]:
twenty = 20
twenty

20

In [ ]:
thirty + twenty

50

In [ ]:
number = 40 
number

40

In [ ]:
type(number)

int

In [ ]:
number_float = float(number)
number_float

40.0

In [ ]:
type(number)

int

In [ ]:
_ = 'come'

In [ ]:
_

'come'

In [ ]:
Ballance = 60

In [ ]:
ballance

NameError: name 'ballance' is not defined